@import './fonts.css';
@import './reset.css';
@import './common.css';



#header {}
.header {
  position: relative;
  width: 100%;
}
.header .logo {
  position: fixed;
  top: 50px;
  left: 25px;
  z-index: 999999;
  /* width: 50px; */
  mix-blend-mode: difference;
}
.header .logo a {
  display: block;
  font-weight: 700;
  color:#fff;
  line-height: 1;
  font-size: 32px;
  font-style: italic;
}
.header .gnb {
  position: fixed;
  right: calc(2vw + 60px);
  top: calc(2.4vw + 40px);
  z-index: 500;
  width: 7.5em;
  transform: translateY(-5%) scale(1);
  transition: 0.7s;
  transition: all .5s cubic-bezier(.7, 0, .3, 1);
  transform-origin: top center;
  mix-blend-mode: difference;
  color:#fff;
}
.header .gnb-list {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.header .gnb-item {}
.header .gnb-item a {
  position: relative;
  font-family: 'neuemachina';
  font-size: 1.6em;
  line-height: 38px;
  color: #fff;
  float: left;
  height: 38px;
  display: block;
  overflow: hidden;
  text-transform: capitalize;
  transform: translateY(-80%) scale(1);
  padding-left: 22px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
.header .gnb-item a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 35%;
  transform: translate(calc(0%), -0%) scale(0) rotate(0.001deg);
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.7s cubic-bezier(0.5, 0.5, 0, 1), transform 0.7s cubic-bezier(0.5, 0.5, 0, 1), background-color 0.2s ease-in-out;
}
.header .gnb-item a .menu-text{}
.header .gnb-item a .char {
  transform: translateY(0);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.header .gnb-item a .char:nth-child(1) {transition-delay: 0s;}
.header .gnb-item a .char:nth-child(2) {transition-delay: 0.015s;}
.header .gnb-item a .char:nth-child(3) {transition-delay: 0.03s;}
.header .gnb-item a .char:nth-child(4) {transition-delay: 0.045s;}
.header .gnb-item a .char:nth-child(5) {transition-delay: 0.06s;}
.header .gnb-item a .char:nth-child(6) {transition-delay: 0.075s;}
.header .gnb-item a .char:nth-child(7) {transition-delay: 0.09s;}
.header .gnb-item a .char:nth-child(8) {transition-delay: 0.105s;}


/* hover */
.header .gnb-item a:hover:before {
  transform: translate(calc(-2%), -0%) scale(1) rotate(0.001deg);
}
.header .gnb-item a:hover .char {
  transform: translateY(-100%);
  color: #fff;
}
.header .gnb-item a:hover .char:nth-child(1) {transition-delay: 0s;}
.header .gnb-item a:hover .char:nth-child(2) {transition-delay: 0.015s;}
.header .gnb-item a:hover .char:nth-child(3) {transition-delay: 0.03s;}
.header .gnb-item a:hover .char:nth-child(4) {transition-delay: 0.045s;}
.header .gnb-item a:hover .char:nth-child(5) {transition-delay: 0.06s;}
.header .gnb-item a:hover .char:nth-child(6) {transition-delay: 0.075s;}
.header .gnb-item a:hover .char:nth-child(7) {transition-delay: 0.09s;}
.header .gnb-item a:hover .char:nth-child(8) {transition-delay: 0.105s;}



#footer {
}
#footer .inner{
  border-top: 1px solid rgba(255,255,255,0.15);
  padding: 2.25rem 1.5rem;
  margin-top: 12rem;
}
#footer .footer-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 5rem;
  color:rgba(255,255,255,0.6);
}
#footer .footer-layout small{
  grid-area: 1/1/2/6;
}

#footer .footer-layout .call{
  grid-area: 1/6/2/9;
}
#footer .footer-layout .mail{
  grid-area: 1/9/2/11;
}
#footer .footer-layout .etc-list{
  display: flex;
  gap: 10px;
  grid-area: 1/11/2/13;
  justify-self: end;
}
#footer .footer-layout .etc-list li{}
#footer .footer-layout .etc-list li a{}



.sect-marquee .group-marquee{
  font-family:"kzidenzGroteskBE-Regular";
  margin-top: 6rem;
  pointer-events: none;
  overflow: hidden;
  color: #e7e7e7;
  line-height: 1.1;
}
.sect-marquee .group-marquee .about-marquee-wrap{
  width: 100%;
  overflow: hidden;
}
.sect-marquee .group-marquee .about-marquee-in{
  display: flex;
  align-items: center;
}
@keyframes marquee {
  0% {transform: translateZ(0)}
  to {transform: translate3d(-100%,0,0)}
}
.sect-marquee .group-marquee .about-marquee-unit{
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
  padding: 0 0.2em;
  font-family:"kzidenzGroteskBE-Regular";
  font-size: 10rem;
  letter-spacing: -.03em;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}