/* 초기화 + 세팅 */
:root {
  /* HTML세팅 */
  --gutter-width: 0px;
  --container-padding: 0px;
  --container-width: 100vw;
  --column-width:calc( ( 100vw - ( 100vw - var(--container-width) + ( (-2*var(--gutter-width)) + (2*var(--container-padding)) ) ) ) * 0.083333333333 );
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}



html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html{
  box-sizing: border-box;
}
body{
  letter-spacing: -0.01em;
  font-family: "twklausanne", Sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight:300;
  color: #000;
  text-align: left;
  background-color: #F9F7F4;
  width: 100%;
  /* overflow-x: hidden !important;
  overflow-y: hidden; */
}

::selection {
  color: #000;
  background-color: #d9ff06;
}
